{%extends 'base_foot.html'%}
{% block header %}
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到天天生鲜!</div>
        <div class="fr">
            {% if request.session.user_name|default:'' != '' %}
             <div class="user_link fl">
                <a href="/user/info/">欢迎您：{{request.session.user_name}}</a>
                <span>|</span>
                 <a href="/user/logout/">退出</a>
                <span>|</span>
                <a href="/user/info/">用户中心</a>
                <span>|</span>
                <a href="/cart/">我的购物车</a>
                <span>|</span>
                <a href="/cart/">我的订单</a>
            </div>
            {% else %}
            <div class="login_btn fl">
                <a href="/user/login/">登录</a>
                <span>|</span>
                <a href="/user/registe/">注册</a>
            </div>
            {% endif %}

        </div>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
    {% if page_name == 1%}
    <div class="sub_page_name fl">{{title}}</div>
    <form method='get' action="/search/" target="_blank">
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
        <input type="submit" class="input_btn fr" name="" value="搜索">
    </div>
    </form>
    {% endif %}
    {% if guest_cart == 1 %}
    <form method='get' action="/search/" target="_blank">
    <div class="search_con fl">
        <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
        <input type="submit" class="input_btn fr" name="" value="搜索">
    </div>
    </form>



  {% if request.session.user_name|default:'' != '' %}
  <div class="guest_cart fr">
        <a href="/cart/" class="cart_name fl">我的购物车</a>
        <div class="goods_count fl" id="show_count">{{count}}</div>
    </div>
  {% else %}
  <div class="guest_cart fr">
    <a href="/" class="cart_name fl">我的购物车</a>
  </div>
  {% endif %}
  {% endif %}
</div>
{% endblock header %}
{% block body  %}
{% endblock body  %}
{%block script%}
{% if user_order == 1 %}
	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>

		<div class="mask"></div>
	</div>
	<script type="text/javascript" src="js/jquery-1.12.2.js"></script>
	<script type="text/javascript">
		$('#order_btn').click(function() {
			localStorage.setItem('order_finish',2);

			$('.popup_con').fadeIn('fast', function() {

				setTimeout(function(){
					$('.popup_con').fadeOut('fast',function(){
						window.location.href = 'index.html';
					});
				},3000)

			});
		});
	</script>
{%endif%}
{%endblock script%}
